body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
    background-image:url(https://wallpaperbat.com/img/65188-grid-hexagonal-white-hd-wallpaper.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header,
footer {
    font-family: 'Nunito Sans', sans-serif;
}